$purpleColor: rgb(218, 204, 243);
$whiteColor: rgb(255, 255, 255);
$blackColor: rgb(28, 26, 26);
$redColor: red;
$pinkColor: pink;

$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, Serif;

@mixin buttonStyle($color, $fontSize) {
  width: 20px;
  height: 4px;
  background-color: $color;
  border: none;
  border-radius: 8px;
  color: $whiteColor;
  font-size: $fontSize;
}
